body {
    background-image: url(../images/cool-background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-box {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    float: left;
    margin: 15px;  
}

.container {
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px hsl(0, 0%, 20%);
    font-family: 'Staatliches', cursive;
    text-align: center;

}

body {
    background-color: purple;
}