body {
    background-image: url(../images/coolBackground3.png);
    background-repeat: repeat;
    background-size: 100%;
    background-color: purple;
}


.img-box {
  background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

.goGif {
    margin: 10 auto;
}

#add-gif {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(107, 2, 152);
    border: solid 1px white;
    text-align: center;  
}

p {
    color: white;
}

h1 {
    text-shadow: 0 0 20px peachpuff;
}

.results {
    margin: 0 auto;
}

.gif-item {
    float: left;
    padding: 15px;
}

.jumbotron {
    background-color: rgb(66, 19, 100);
    color: white;
    padding: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: white solid 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#input {
    width: 50%;
    display: inline-block;
}

button {
    background: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: rgba(92, 1, 153);
    font-size: 16px;
    transition-duration: .5s;
    margin: 1px;
    align-content: center;
    justify-content: center;
}


body {
    background-color: purple;
}

#gif-input {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}